@charset "UTF-8";
/* CSS Document */

body {
	font: 12px "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	line-height:120%;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-thumb:vertical {
    width:1px;
    background-color: #000;
    border-right: 4px solid #fff;
}

a:link {
	color: #666;
	text-decoration: none; 
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #CCC;
	text-decoration: none;
}

b {
    color:#83C8FF;
}

i {
    color:#0EE400;
}

h1 {
    font:30px Verdana, Geneva, sans-serif;
    margin:0;
}

h2 {
    font:26px Verdana, Geneva, sans-serif;
    margin:0;
}

h3 {
    font:22px Verdana, Geneva, sans-serif;
    margin:0;
}

h4 {
    font:18px Verdana, Geneva, sans-serif;
    margin:0;
}

#header {
    z-index:9999;
    margin:50px auto 0 auto;
    width:50%;
    height:40px;
    padding:30px;
    text-align:center;
}

#menu {
    z-index:9999;
    margin:15px auto;
    left:40px;
    width:50%;
    background:url('https://lilywus.github.io/i/pentagon.png') repeat;
    text-align:center;
}

#menu a {
    display:inline-block;
    height:15px;
    padding:10px;
    margin:15px;
    border:1px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media screen and (min-width:501px) {
    #menu a {
        width:70px;
    }
}

@media screen and (max-width: 500px) {
    #menu a {
        width:40%;
    }
}

#menu a:link, a:visited, a:focus {
    background:#FFF;
}

#menu a:hover {
    background:none;
    color:#fff;
    border:1px solid #000;
}

#menu a:active {
    border:1px solid #000;
}

#content {
    width:50%;
    margin:20px auto;
    padding-bottom:10px;
    font-size:14px;
    line-height:1.7em;
}

#mainimg {
    float:left;
    margin:20px;
    width:30%;
}

.site {
    width:100%;
    height:300px;
    background-size:cover;
    background-position:center;
    border:1px solid #fff;
}

.site:hover {
    border:1px solid #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.appear {
    opacity:0;
    margin-top:75px;
    padding:10% 0;
    width:100%;
    height:150px;
    background:rgb(0, 0, 0, .8);
    color:#fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.site:hover .appear {
    opacity:.8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}